@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0c0a09;
  color: #fafaf9;
}

body {
  font-family: 'Outfit', sans-serif;
}